.resume_elements{
    display: block;
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 80px;
    border : 2px solid #ffdd40;
    margin-top: 10px;
    background: none;
    justify-content: left;
    align-items: c;
    margin-left: 20px;
    padding :5px;
    padding-left: 10px;

}
.Role{
    Color:#ffdd40;
    padding-bottom: 5px;
    font-size: 20px;
    
}
.Institution
{
    Color:#ffdd40;
    padding-bottom: 5px;
    font-size: 15px;
}
.Years
{
    Color:#ffdd40;
    padding-bottom: 5px;
    font-size: 15px;
}