@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Roboto:wght@500&display=swap");

:root {
  --yellow-theme-background-colour: #00004d;
  --yellow-theme-main-colour: #ffdd40;
  --yellow-theme-sub-text-colour: #ffffff;
  --yellow-theme-nav-baackground-colour:  #00001a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: var(--yellow-theme-background-colour);
  height: 100%;
}

#root {
  height: 100%;
}
